<!doctype html>
<head>
    <meta charset="utf-8">
    <title>table</title>
</head>
<body>
    <table>
        <tr>
            <th>序号</th>
            <th>书名</th>
            <th>分类</th>
        </tr>
        <tr>
            <td>{{ table['\ufeff序号'][0] }}</td>
            <td>{{ table['书名'][0] }}</td>
            <td>{{ table['分类'][0] }}</td>
        </tr>
        <tr>
            <td>{{ table['\ufeff序号'][1] }}</td>
            <td>{{ table['书名'][1] }}</td>
            <td>{{ table['分类'][1] }}</td>
        </tr>
        <tr>
            <td>{{ table['\ufeff序号'][2] }}</td>
            <td>{{ table['书名'][2] }}</td>
            <td>{{ table['分类'][2] }}</td>
        </tr>
        <tr>
            <td>{{ table['\ufeff序号'][3] }}</td>
            <td>{{ table['书名'][3] }}</td>
            <td>{{ table['分类'][3] }}</td>
        </tr>
        <tr>
            <td>{{ table['\ufeff序号'][4] }}</td>
            <td>{{ table['书名'][4] }}</td>
            <td>{{ table['分类'][4] }}</td>
        </tr>
        <tr>
            <td>{{ table['\ufeff序号'][5] }}</td>
            <td>{{ table['书名'][5] }}</td>
            <td>{{ table['分类'][5] }}</td>
        </tr>
    </table>
</body>